:root {
  font-family: "Ubuntu", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  scroll-behavior: smooth;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --marine-blue-clr: hsl(213, 96%, 18%);
  --purple-blue-clr: hsl(243, 100%, 62%);
  --pastel-blue-clr: hsl(228, 100%, 84%);
  --light-blue-clr: hsl(206, 94%, 87%);
  --strawberry-clr: hsl(354, 84%, 57%);

  --cool-gray-clr: hsl(231, 11%, 63%);
  --light-gray-clr: hsl(229, 24%, 87%);
  --magnolia-clr: hsl(217, 100%, 97%);
  --alabaster-clr: hsl(231, 100%, 99%);
  --white-clr: hsl(0, 0%, 100%);

  --font-wt-400: 400;
  --font-wt-500: 500;
  --font-wt-700: 700;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--alabaster-clr);
  position: relative;
}

p,
h2 {
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.sr-only {
  position: absolute;
  left: -150%;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Form Nav CSS */
.form-nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding-top: 50px;
  gap: 1em;
  height: 200px;

  background-image: url("/src/assets/images/bg-sidebar-mobile.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.form-nav button {
  padding: 10px 15px;
  font-weight: var(--font-wt-700);
  font-size: 1rem;

  color: var(--white-clr);
  border: 1px solid var(--white-clr);
  border-radius: 50%;
  background-color: transparent;
}

.active {
  color: black !important;
  background-color: var(--light-blue-clr) !important;
  border: none !important;
}

.step {
  display: none;
}

/* Form */
.form-content {
  display: flex;
  flex-direction: column;
  gap: 1em;

  margin-top: -8em;
  padding: 2em;
  background-color: var(--white-clr);
  border-radius: 1em;

  box-shadow: 3px 7px 25px black;
}

.form-content h2 {
  color: var(--marine-blue-clr);
}

.form-content p {
  color: var(--cool-gray-clr);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  padding-bottom: 8em;
  z-index: 10;
}

/* Buttons CSS */
.btn-group {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75px;
  z-index: 20;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  background-color: var(--white-clr);
}

.btn {
  width: 150px;
  height: 50px;
  font-size: 1rem;
  font-weight: var(--font-wt-700);
  color: var(--white-clr);
  background-color: var(--marine-blue-clr);
  border-style: none;
  cursor: pointer;
  border-radius: 10px;
}

.btn:hover,
.btn:focus {
  background-color: var(--pastel-blue-clr);
}

.back {
  color: var(--cool-gray-clr);
  background-color: transparent;
}

.back:hover,
.back:focus {
  color: var(--marine-blue-clr);
  background-color: transparent;
}

/* Info CSS */
.info {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  font-weight: var(--font-wt-500);
  color: var(--marine-blue-clr);
  gap: 5px;

  position: relative;
}

.info input {
  outline: none;
  padding: 0.75em;

  font-size: 1rem;
  color: var(--marine-blue-clr);
  font-weight: var(--font-wt-700);
  border-radius: 5px;

  border: 2px solid var(--light-gray-clr);
}

.info input:focus {
  border: 2px solid var(--marine-blue-clr);
}

.info input::placeholder {
  color: var(--cool-gray-clr);
  font-weight: var(--font-wt-700);
}

.txt-missing {
  border: 2px solid var(--strawberry-clr) !important;
}

.error-prompt {
  position: absolute;
  right: 0;

  display: none;
  color: var(--strawberry-clr) !important;
  font-size: 0.9rem;
  margin: 0;
}

/* Plans CSS */
.select-plans {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.plan {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1em;
  padding: 1em;
  font-size: 0.8rem;

  border: 2px solid var(--light-gray-clr);
  border-radius: 10px;
  cursor: pointer;
}

.plan:not([class*="selected-plan"]):hover,
.plan:not([class*="selected-plan"]):focus {
  border: 2px solid var(--marine-blue-clr);
}

.plan img {
  height: 50px;
}

.yearly-plan {
  color: var(--marine-blue-clr) !important;
}

.annual-cycle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
  background-color: var(--magnolia-clr);
  color: var(--light-gray-clr);
  font-weight: var(--font-wt-700);
}

.selected-cycle {
  color: var(--marine-blue-clr) !important;
}

.selected-plan {
  background-color: var(--magnolia-clr) !important;
  border: 2px solid var(--marine-blue-clr);
}

/* Addons CSS */
.addon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: 1em;
  padding: 1em;
  font-size: 0.8rem;

  border: 2px solid var(--light-gray-clr);
  border-radius: 10px;
  cursor: pointer;
}

.addon:not([class*="selected-addon"]):hover,
.addon:not([class*="selected-addon"]):focus {
  border: 2px solid var(--marine-blue-clr);
}

.selected-addon {
  background-color: var(--magnolia-clr) !important;
  border: 2px solid var(--marine-blue-clr);
}

/* Summary CSS */
.summary-container {
  padding: 1em;
  border-radius: 10px;
  background-color: var(--alabaster-clr);
}

.summary-container hr {
  border: 1px solid var(--light-gray-clr);
}

.summary-plan {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: var(--font-wt-700);
  position: relative;

  padding-bottom: 25px;
}

.plan-title {
  color: var(--marine-blue-clr) !important;
}

.change-plan {
  cursor: pointer;
  position: absolute;
  bottom: 5px;
  left: 10px;
  font-size: 0.8rem;
  font-weight: var(--font-wt-700);
}

.change-plan:hover,
.change-plan:focus {
  color: var(--purple-blue-clr);
  border-bottom: 2px solid var(--purple-blue-clr);
}

.summary-plan p::first-letter {
  text-transform: uppercase;
}

.summary-addon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

.summary-addon:not(:last-child) {
  margin: 1em 0;
}

.summary-pricing {
  color: var(--marine-blue-clr) !important;
}

.summary-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  padding: 0 1em;
}

.total-price {
  color: var(--purple-blue-clr) !important;
  font-weight: var(--font-wt-700);
}

/* Confirmation CSS */
.thank-content {
  padding: 5em 2em;
}

.thank-img {
  height: 75px;
}

.thank-title {
  color: var(--marine-blue-clr);
  text-align: center;
}

.thank-desc {
  color: var(--cool-gray-clr);
  text-align: center;
}

@media screen and (min-width: 768px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-container {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-areas:
      "nav form"
      "nav btns";

    height: 600px;
    width: 750px;
    padding: 1em;
    border-radius: 1em;
    background-color: var(--white-clr);
  }

  .form-nav {
    grid-area: nav;
    position: initial;
    height: 100%;
    width: 250px;
    padding-top: 0;
    border-radius: 1em;
    color: var(--white-clr);

    flex-direction: column;
    justify-content: flex-start;

    background-image: url("/src/assets/images/bg-sidebar-desktop.svg");
  }

  .steps {
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
  }

  .steps:first-of-type {
    margin-top: 25px;
  }

  .step p:first-of-type {
    margin: 0;
    font-size: 0.8rem;
    color: var(--cool-gray-clr);
  }

  .step p {
    font-size: 0.9rem;
    font-weight: var(--font-wt-700);
    text-transform: uppercase;
  }

  .step {
    display: block;
  }

  form {
    grid-area: form;
    padding-bottom: 0;
    height: 100%;
    padding: 0;
  }

  .form-content {
    margin-top: 0;
    border-radius: 0;
    box-shadow: none;
    min-height: 450px;
  }

  .form-desc {
    margin-bottom: 1em;
  }

  .btn-group {
    grid-area: btns;
    max-height: 50px;
    position: initial;
  }

  .thank-content {
    padding: 2em;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .select-plans {
    flex-direction: row;
  }

  .plan {
    flex-direction: column;
    align-items: center;
    width: 100px;
  }
  .annual-cycle {
    height: 50px;
  }
}
