:root {
  font-family: "Ubuntu", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  scroll-behavior: smooth;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --marine-blue-clr: hsl(213, 96%, 18%);
  --purple-blue-clr: hsl(243, 100%, 62%);
  --pastel-blue-clr: hsl(228, 100%, 84%);
  --light-blue-clr: hsl(206, 94%, 87%);
  --strawberry-clr: hsl(354, 84%, 57%);

  --cool-gray-clr: hsl(231, 11%, 63%);
  --light-gray-clr: hsl(229, 24%, 87%);
  --magnolia-clr: hsl(217, 100%, 97%);
  --alabaster-clr: hsl(231, 100%, 99%);
  --white-clr: hsl(0, 0%, 100%);

  --font-wt-400: 400;
  --font-wt-500: 500;
  --font-wt-700: 700;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

p,
h2 {
  margin: 0;
}

.form-content {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

/* Form Nav CSS */
.form-nav {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.form-nav button {
  padding: 10px 15px;
  border: 2px solid black;
  border-radius: 50%;

  font-weight: var(--font-wt-700);
  background-color: transparent;
}

.active {
  color: black;
  background-color: var(--light-blue-clr) !important;
}

/* Step2 CSS */
.select-plans {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.plan {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1em;
  padding: 0.5em;

  border: 2px solid var(--light-gray-clr);
  border-radius: 10px;
  cursor: pointer;
}

.plan img {
  height: 50px;
}

.annual-cycle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
  background-color: var(--magnolia-clr);
  color: var(--light-gray-clr);
  font-weight: var(--font-wt-700);
}

.selected-cycle {
  color: var(--marine-blue-clr) !important;
}

.selected-plan {
  background-color: var(--magnolia-clr) !important;
  border: 2px solid var(--marine-blue-clr);
}
